*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
}

a,ul,li{
  text-decoration: none;
  list-style: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sidebar */
.MuiDrawer-root .MuiPaper-root{
  width: 250px;
}
.MuiListItem-root a{
  width: 100%;
}
.MuiListItemButton-gutters:hover{
  background-color: rgb(207, 207, 207) !important;
}
