*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
}

a,ul,li{
  text-decoration: none;
  list-style: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
